extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          P
            Is your computer running slow? or maybe not at all? Call us for a quick and easy quote. We are glad to help you anytime.
          P
            a.btn.btn-primary.btn-lg(href='#') Read More
          .col-md-5
           img(src='images/applemouse.jpg')
  .row
    .col-md-4
     .well
      h4 Hardware Problems?
      p
        | Lorem ipsum dolor sit amet, nec mollis meliore laboramus ut, causae comprehensam id nec. Sit dictas praesent vulputate no, ei vis alii electram evertitur, saperet offendit est at. At duo ipsum corpora delenit
    .col-md-4
     .well
      h4 Software Problems?
      p
        | Lorem ipsum dolor sit amet, nec mollis meliore laboramus ut, causae comprehensam id nec. Sit dictas praesent vulputate no, ei vis alii electram evertitur, saperet offendit est at. At duo ipsum corpora delenit
    .col-md-4
     .well
      h4 PC Tune Up
      p
        | Lorem ipsum dolor sit amet, nec mollis meliore laboramus ut, causae comprehensam id nec. Sit dictas praesent vulputate no, ei vis alii electram evertitur, saperet offendit est at. At duo ipsum corpora delenit
